{# <div class="logoContainer"> #}
    <a href="/">
        {% include '../assets/images/favicon.svg' %}
    </a>
    {# <img src="/assets/images/favicon.svg" alt=""> #}
    {# <a href="/"><span></span></a> #}
{# </div> #}

<a href="/">mukosey</a> / <a href="{{ page.url }}">{{ page.url | removeSlashes }}</a>
{# <span>mukosey{{page.url}}</span> #}
<p class="languageSwitcher"> <a href="">Language</a></p>
