{# <div class="logoContainer"> #}
    <a id="logoLink" class="noUnderline" href="/">
        {% include '../assets/images/favicon.svg' %}
    </a>
    {# <img src="/assets/images/favicon.svg" alt=""> #}
    {# <a href="/"><span></span></a> #}
{# </div> #}
{# <h1>MUKOSEY.COM /</h1> #}
<div class="headerLinksContainer">
    {% for section in ['projects', 'awards', 'press'] %}
        <a href="/{{ section }}" {% if section in page.url %} class="selected" {% endif %}>{{ section | toUpper }}</a>
    {% endfor %}
</div>

{# <span>mukosey{{page.url}}</span> #}
<p class="languageSwitcher"><a href="">Language</a></p>
