@import 'variables';

header {
    position: sticky;
    display: flex;
    padding: $defaultOffset;
    gap: 10px;
    top: 0;
    z-index: 3;
    background-color: $defaultBackgroundColor;
    border-bottom: $defaultElementBorder;
    height: $headerHeight;
    box-sizing: border-box;

    // h1 {
    //     font-size: 35px;
    //     font-weight: 200;
    //     padding-left: 10px;
    //     margin: 0;
    // }

    #logoLink { 
        aspect-ratio: 1;

        &:hover, &:focus-visible {
            #creature-left {
                transform: translateX(-8px);
            }
            #creature-right {
                transform: translateX(8px);
            }
        }
    }

    svg {
        height: 100%;
        width: auto;
    }

    .headerLinksContainer {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: start;
    }

    .languageSwitcher {
        margin: auto 0 auto auto;
    }
}