@import 'variables';

header {
    position: sticky;
    display: flex;
    align-items: center;
    padding: 5px;
    top: 0;
    z-index: 2;
    background-color: $defaultBackgroundColor;
    border-bottom: $defaultElementBorder;

    // h1 {
    //     font-size: 35px;
    //     font-weight: 200;
    //     padding-left: 10px;
    //     margin: 0;
    // }

    a:hover, a:focus {
        #creature-left {
            x: 9;
        }
    }

    svg {
        height: 50px;
    }

    .headerLinks {
        align-self: stretch;

        padding-left: 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: start;
    }

    .languageSwitcher {
        margin: 0 0 0 auto;
    }
}