@import 'variables';

footer {
    position: sticky;
    bottom: 0;
    padding: $defaultOffset;
    z-index: 2;
    background-color: $defaultBackgroundColor;
    border-top: $defaultElementBorder;
}