html, 
body, 
main {
    margin: 0;
    padding: 0;
    min-width: 270px;

    text-align: center;
    font-family: roboto, arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 1;
}