@import 'variables';

$imageContainerSize: 125px;

.cardContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    position: relative;
    width: $imageContainerSize;
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-align: center;

    .imageContainer {
        position: relative;
        height: $imageContainerSize;

        img {
            display: block;
            width: 100%;

            // chrome rendering bug workaround
            padding: 1px;
            box-sizing: border-box;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            circle {
                transition: $defaultTransitionTime;
            }
        }
    }

    a {
        position: static;
        padding: 2px;
        max-width: 100%;
        box-sizing: border-box;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: $defaultTransitionTime;
        }

        &:focus-visible {
            outline: none;

            span {
                outline: $defaultFocusOutline;
            }
        }
    }

    &:focus-within, // TODO: BUG - there is no focus-visible-within (dnd focus bug)
    &:hover,
    &.selected {
        a {
            color: $linkActiveColor;
        }

        .imageContainer {
            .A {
                r: 77%;
            }

            .B {
                r: 47%;
            }
        }
    }
}