$linkInactiveColor: #000;
$linkActiveColor: red;

$defaultTransitionTime: 300ms;
$defaultBackgroundColor: #fff;

$defaultFocusOutline: 2px dashed $linkActiveColor;

$defaultElementBorder: 2px #000 solid;

$headerHeight: 60px;
$defaultOffset: 5px;