@import 'normalize';

@import 'global';
@import 'variables';
@import 'links';

body {
    width: fit-content;
    max-width: 100%;
    margin: auto;

    header {
        padding: $defaultOffset;
    }
}

.containerContacts {
    display: inline-block;
    text-align: start;
}

footer {
    text-align: center;

    .svgContainer {
        overflow: hidden;
        width: 100%;
        display: inline-block;

        svg {
            overflow: visible;
        }
    }
}