@import 'normalize';

@import 'global';
@import 'variables';
@import 'links';

body {
    width: fit-content;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header {
    padding: $defaultOffset;
}

// .containerContacts {
//     text-align: start;
// }

@keyframes walk-start {
    from {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(0px);
    }

    to {
        transform: translateX(2px);
    }
}

@keyframes walk-end {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(2px);
    }
}

footer {
    padding: $defaultOffset;

    .svgContainer {
        overflow: hidden;

        #legs13 {
            animation: .6s forwards infinite walk-start steps(2);
        }

        #legs24 {
            animation: .6s forwards infinite walk-end steps(2);
        }

        #ground {
            animation: .6s forwards infinite walk-end steps(2);
        }

        // &:hover {
        //     #legs13,
        //     #legs24,
        //     #ground {
        //         animation-play-state: paused;
        //     }
        // }
    }
}