@import 'normalize';

@import 'global';
@import 'links';

main {
    width: fit-content;
    max-width: 100%;
    margin: auto;
}

#containerContacts {
    display: inline-block;
    text-align: left;
}

// #header img {
//     max-width: 100%;
//     padding: 10px;
//     box-sizing: border-box;
// }

footer {
    // height: 50px;
    text-align: center;

    .svgContainer {
        overflow: hidden;
        height: 50px;
        width: fit-content;
        max-height: 100%;
        max-width: 100%;
        display: inline-block;

        svg {
            // min-height: 20px;
            height: 100%;
            // max-height: 100%;
            width: auto;
            max-width: 100%;
            overflow: visible;
            // width: 100px;
        }
    }


    // @keyframes walkingfish {
    //     0% {
    //         x: 0;
    //         fill: black;
    //         transform: translate(0, 0);
    //     }

    //     50% {
    //         x: 10;
    //         fill: orange;
    //         transform: translate(0.01px, 0);
    //     }

    //     100% {
    //         x: 10;
    //         fill:red;
    //         transform: translate(1%, 0);
    //     }
    // }

    // &:hover #ground {
    //     transform: translate(50px, 100px);
    // }

    // &:hover #leg2 {
    //     animation: walkingfish 5s;
    // }
}