@import 'normalize';

@import 'global';
@import 'links';
@import 'default-header';
@import 'default-footer';
@import 'project-card';

.menuCategories {
    display: flex;
    justify-content: center;
    gap: $defaultOffset ($defaultOffset * 4);
    flex-wrap: wrap;
    flex: 1;
}