---
title: '404 Not found'
style: '/styles/404.css'
permalink: 404.html
---

{% extends 'base.njk' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}


{% block content %}
    {% include './assets/images/favicon.svg' %}
    <h1>404</h1>
    Sorry, there is not such a page!
    Check out <a href="/">home page</a>
{% endblock %}