---
title: '404 Not found'
style: '/styles/404.css'
permalink: 404.html
---

{% extends 'base.njk' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    {% include './assets/images/favicon.svg' %}
    <div>
        <h1>404 NOT FOUND</h1>
        <p>
            <a href="/">Check out home page</a>
        </p>
    </div>
{% endblock %}