---
title: 'Mukosey office: home | Главная'
style: 'home.css'
---

{% extends 'base.njk' %}

{% block header %}
    {% include './assets/images/title.svg' %}
{% endblock %}

{% block content %}
    <section>
        <p>Илья Мукосей / Ilya Mukosey</p>
        <p><a href="projects">ПРОЕКТЫ</a> / <a href="awards">НАГРАДЫ</a> / ПРЕССА</p>
        <p>PROJECTS / AWARDS / PRESS</p>
    </section>

    <section class="containerContacts">
        <p>E-mail: <a href="mailto:info@mukosey.com" target="_blank">info@mukosey.com</a></p>
        <p>Telegram: <a href="https://t.me/IlyaMukosey" target="_blank">@IlyaMukosey</a></p>
        <p>WhatsApp: <a href="https://wa.me/+79037361544" target="_blank">+7 903 7361544</a></p>
        <p>Mobile: <a href="tel:+49 1522 8084502">+49 1522 8084502</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/mukosey/" target="_blank">linkedin.com/in/mukosey</a></p>
    </section>
{% endblock %}

{% block footer %}
    <div class="svgContainer">
        {% include './assets/images/walkingfish.svg' %}
    </div>
{% endblock %}