---
title: 'mukosey: Проекты | Projects'
layout: 'base.njk'
style: '/styles/projects.css'
script: '/scripts/projects.js'
---

<div class="cardContainer">
    {% for project in collections.project | reverse %}
        <div class="card" data-categories="{{ project.data.categories | replaceCommasWithWhitespaces }}">
            <div class="imageContainer">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <g fill="none">
                        <circle class="A" cx="50%" cy="50%" r="131%" stroke="#fff" stroke-width="60%"/>
                        <circle class="B" cx="50%" cy="50%" r="101%" stroke="red"/>
                    </g>
                </svg>
                <img src="/assets/images/icons/{{ project.fileSlug }}.jpg" alt="{{ project.data.iconImageAlt }}">
            </div>
            <a href="{{ project.url }}">{{ project.data.title[0] }}<span></span></a>
        </div>
    {% endfor %}
</div>