---
title: 'mukosey: Проекты | Projects'
style: '/styles/projects.css'
script: '/scripts/projects.js'
---

{% extends 'base.njk' %}

{% block content %}
<div class="cardContainer">
    {% for project in collections.project | reverse %}
        {% include 'project-card.njk' %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
    {% set categories = [
        ['buildings', 'Buildings'],
        ['territories', 'Territories'],
        ['transport', 'Transport'],
        ['interiors', 'Interiors'],
        ['smallObjects', 'Small objects'],
        ['exhibitionsAndFestivals', 'Exhibitions & festivals'],
        ['concepts', 'Concepts'],
        ['media', 'Media'],
        ['educationAndCulture', 'Education & culture']]
    %}
    <div class="menuCategories">
        {% for category, name in categories %}
            <a href="#" data-category="{{ category }}">{{ name }}</a>
        {% endfor %}
    </div>
    {# {{ super() }} #}
{% endblock %}
{# 
0. Здания buildings
1. Территории territories
2. Транспорт transport
3. Интерьеры interiors
4. Жилые интерьеры 
5. Малые формы smallObjects
6. Выставки, фестивали exhibitionsAndFestivals
7. Идеи concepts
8. Медиа media
9. Образование и Культура educationAndCulture #}
